<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>PPT24Programs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>program1</servlet-name>
    <servlet-class>PPT24.JavaProgram1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program1</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program2</servlet-name>
    <servlet-class>PPT24.JavaProgram2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program2</servlet-name>
    <url-pattern>/two</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program3</servlet-name>
    <servlet-class>PPT24.JavaProgram3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program3</servlet-name>
    <url-pattern>/three</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program4</servlet-name>
    <servlet-class>PPT24.JavaProgram4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program4</servlet-name>
    <url-pattern>/four</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program5</servlet-name>
    <servlet-class>PPT24.JavaProgram5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program5</servlet-name>
    <url-pattern>/five</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program6</servlet-name>
    <servlet-class>PPT24.JavaProgram6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program6</servlet-name>
    <url-pattern>/six</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program7</servlet-name>
    <servlet-class>PPT24.JavaProgram7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program7</servlet-name>
    <url-pattern>/seven</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>PPT24.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program8</servlet-name>
    <servlet-class>PPT24.JavaProgram8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program8</servlet-name>
    <url-pattern>/eight</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program9</servlet-name>
    <servlet-class>PPT24.JavaProgram9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program9</servlet-name>
    <url-pattern>/nine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>program10</servlet-name>
    <servlet-class>PPT24.JavaProgram10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>program10</servlet-name>
    <url-pattern>/ten</url-pattern>
  </servlet-mapping>
</web-app>